<footer>
  <div class="footer-container">
    <div class="footer-nosotros">
      <h2>Nosotros</h2>
      <p>
        MPG es una empresa fundada en 1990 por
        un grupo de cisionarios avicultores que unieron
        esfuerzos para fabricar su propio ALIMENTO BALANCEADO.
      </p>
      <h2>Síguenos</h2>
      <div class="social-icons">
        <a href="https://www.instagram.com/mpgalimentos/?utm_source=qr" target="_blank">
          <img src="assets/insta.png" alt="Instagram">
        </a>
        <a href="https://www.facebook.com/profile.php?id=61553629269565&mibextid=kFxxJD" target="_blank">
          <img src="assets/Facebook_Logo_(2019).png" alt="Facebook">
        </a>
        <a href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Aorganization%3A99015899&keywords=mpg%20alimentos%20balanceados&origin=RICH_QUERY_SUGGESTION&position=0&searchId=f1e70915-1def-45ab-be06-dff243b171dc&sid=%3A%3BI&spellCorrectionEnabled=false" target="_blank">
          <img src="assets/in.png" alt="LinkedIn">
        </a>
      </div>
    </div>

    <div class="footer-mapa">
      <h2>Mapa del sitio</h2>
      <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/conocenos">Conócenos</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="">Contacto</a></li>
        <li><a href="">Galería</a></li>
      </ul>
    </div>

    <div class="footer-productos">
      <h2>Líneas de productos</h2>
      <ul>
        <li><a href="">Cerdos</a></li>
      </ul>
    </div>
  </div>
</footer>