<header class="header">
  <div class="container">
      <div class="logo">
          <img src="assets/logo.png" alt="Logo de la Empresa">
      </div>
      <div class="contact-info">
          <p>Contáctanos</p>
          <div class="phone-info">
              <a href="https://api.whatsapp.com/send/?phone=523310255768&text&type=phone_number&app_absent=0" target="_blank" class="whatsapp-link">
                  <img src="assets/WhatsApp.png" alt="WhatsApp">
              </a>
              <p>33 1025 5768</p>
          </div>
      </div>
  </div>
</header>

<nav class="nav">
  <ul>
    <li><a href="/inicio">Inicio</a></li>
    <li><a href="/conocenos">Conócenos</a></li>
    <li><a href="/productos">Productos</a></li>
    <li><a href="/contacto">Contacto</a></li>
</ul>
</nav>
