<app-header-admin></app-header-admin>
<div class="orders">
  <h2>Pedidos</h2>
  <table>
    <thead>
      <tr>
        <th>ID Pedido</th>
        <th>Cliente</th>
        <th>Productos</th>
        <th>Total</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Aquí se generarán las filas de pedidos dinámicamente -->
      <tr>
        <td></td>
        <td></td>
        <td>
          <ul>
            <li></li>
          </ul>
        </td>
        <td></td>
        <td></td>
        <td>
          <button>Enviar a Producción</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
