<app-nav2></app-nav2>
<app-nav></app-nav>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="pedido-form">
  <h1>Formulario de Pedido</h1>
  <form>
    <div class="form-group">
      <label for="cliente">Nombre del Cliente:</label>
      <input type="text" id="cliente" name="cliente" required>
    </div>
    <div class="form-group">
      <label for="empresa">Nombre de la Empresa:</label>
      <input type="text" id="empresa" name="empresa" required>
    </div>
    <div class="form-group">
      <label for="animal">Animal:</label>
      <input type="text" id="animal" name="animal" required>
    </div>
    <div class="form-group">
      <label for="cantidad">Cantidad de Comida (por tonelada):</label>
      <input type="number" id="cantidad" name="cantidad" required>
    </div>
    <div class="form-group">
      <label for="tipo">Tipo de Comida:</label>
      <select id="tipo" name="tipo" required>
        <option value="Preiniciador Cerdos Fase 1">Preiniciador Cerdos Fase 1</option>
        <option value="Preiniciador Cerdos Fase 2">Preiniciador Cerdos Fase 2</option>
        <option value="Preiniciador Cerdos Fase 3">Preiniciador Cerdos Fase 3</option>
        <option value="Cerdo Inicio (Harina o Pellet)">Cerdo Inicio (Harina o Pellet)</option>
        <option value="Cerdo Crecimiento (Harina o Pellet)">Cerdo Crecimiento (Harina o Pellet)</option>
        <option value="Cerdo Desarrollo (Harina o Pellet)">Cerdo Desarrollo (Harina o Pellet)</option>
        <option value="Cerdo Engorda (Harina o Pellet)">Cerdo Engorda (Harina o Pellet)</option>
        <option value="Cerdo Engorda Especial (Harina o Pellet)">Cerdo Engorda Especial (Harina o Pellet)</option>
      </select>
    </div>
    <div class="form-group">
      <label for="precio">Precio Total:</label>
      <p id="precio"></p>
    </div>
    <button type="submit">Enviar Pedido</button>
  </form>
</div>
<br>
<br>
<br>
<br>
<br>


<app-footer></app-footer>
<app-footer2></app-footer2>