<app-nav2></app-nav2>
<app-nav></app-nav>
<br>
<div class="titulo-conocenos">
  <div class="header-content">
    <img src="assets/pollo.png" alt="">
    <h2>MPG Alimentos</h2>
  </div>
  <h1>¡Conócenos!</h1>
</div>


<div class="videos-container">
  <iframe width="560" 
      height="315" 
      src="https://www.youtube.com/embed/fa7DrtLYakE" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
  </iframe>
  <iframe width="560" 
      height="315" 
      src="https://www.youtube.com/embed/L8MyA8ev8iQ" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
  </iframe>
</div>
<br><br><br>
<div class="historia-container">
  <div class="header-content">
    <img src="assets/cerdo.png" alt="">
  </div>
  <h2>MPG Alimentos</h2>
  <div class="historia">
    <h1>Nuestra Historia</h1>
    <p>MPG es una empresa fundada en 1990 por un grupo de visionarios avicultores que unieron esfuerzos para fabricar su propio Alimento Balanceado con la finalidad de producir proteína animal de mayor calidad a un costo óptimo. Al percatarse del extraordinario desempeño de sus aves, decidieron compartir su experiencia con otros productores de la zona, lo cual propició que en cuestión de meses abrieran sus puertas a la venta al público. <br><br>
      Con el paso de los años, los fundadores decidieron incursionar en la fabricación de alimento para cerdos y afortunadamente los resultados fueron igual de positivos que con las aves, con lo cual se terminó de consolidar lo que hoy se conoce como
      <b> MPG: ¡El Mejor Alimento Balanceado!</b>
    </p>
  </div>
</div>
<br><br><br>

<div class="creencias-container">
  <div class="creencias-titulo">
    <h1>Nuestras Creencias</h1>
  </div>

  <div class="columnas">
    <div class="mision-card">
      <img src="assets/mision.png" alt="">
      <h2 class="titulo">MISIÓN</h2>
      <p class="descripcion">Elaborar Alimentos Balanceados de excelente calidad, logrando siempre óptimos resultados en las producciones pecuarias.</p>
    </div>
    
    <div class="vision-card">
      <img src="assets/vision.png" alt="">
      <h2 class="titulo">VISIÓN</h2>
      <p class="descripcion">Ser una empresa líder en el mercado Nacional, estar a la vanguardia en tecnología de fabricación de Alimentos Balanceados, acorde con la nueva y futura genética animal, además de contar con un sano ambiente laboral.</p>
    </div>
  
    <div class="valores-card">
      <img src="assets/valores.png" alt="">
      <h2 class="titulo">VALORES</h2>
      <p class="descripcion">Compromiso, Responsabilidad, Ética, Profesionalismo, Avance, Comunicación, Compañerismo, Integridad, Honestidad.</p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
<app-footer2></app-footer2>