<app-nav2></app-nav2>
<app-nav></app-nav>

<div>
  <h1 class="catalogo">  <img class="cerdo" src="assets/cerdo.png" alt="Cerdo"> Catálogo de Alimentos para Cerdos</h1>
    
      <div class="tip"><br>
      <h2 class="tipo">NACIMIENTO</h2><br>
      </div><br>
  
      <div class="catalog-container">
        <div class="catalog-item">
          <h2 class="pr">Preiniciador Cerdos Fase 1</h2><br><br>
          <img class="fase1" src="assets/PREINICIO-FASE-1-1.jpg" alt="">
          <h3 class="pr2">Análisis Garantizado <br></h3>
            <p><img src="assets/comprobado.png" alt="" width="20px"> PROTEÍNA CRUDA (MÍN) 19.00% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> GRASA CRUDA (MÍN) 4.50% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> GFIBRA CRUDA (MÁX) 3.00% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> GCENIZAS (MÁX) 6.00% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> GHUMEDAD (MÁX) 12.00% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> GE.L.N 55.50% <br><br></p>
            <h2>Indicaciones</h2>
            <p>Para uso en porcinos en la etapa de destete, proporcionando las cantidades adecuadas de proteínas, carbohidratos, grasas, aditivos, vitaminas y minerales necesarios para su etapa.</p>
          <p>Precio: $10.00</p>
          <button><a href="/pedido">Haz tu pedido</a></button>
        </div>
  
  
  
        <div class="catalog-item">
          <h2 class="pr">Preiniciador Cerdos Fase 2</h2><br><br>
          <img src="assets/PREINICIO-FASE-2.jpg" alt="" class="fase1">
          <h3 class="pr2">Análisis Garantizado</h3>
          <p>
            <img src="assets/comprobado.png" alt="" width="20px"> PROTEÍNA CRUDA (MÍN) 20.50%<br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> GRASA CRUDA (MÍN) 5.50%<br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> FIBRA CRUDA (MÁX) 3.50%<br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> CENIZAS (MÁX) 7.50%<br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> HUMEDAD (MÁX) 12%<br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> E.L.N 51%<br><br></p>
            <h2>Indicaciones</h2>
            <p>Para uso en porcinos en la etapa de destete, proporcionando las cantidades adecuadas de proteínas, carbohidratos, grasas, aditivos, vitaminas y minerales necesarios para su etapa.</p>
            <p>Precio: $15.00</p>
            <button><a href="/pedido">Haz tu pedido</a></button>
        </div>
  
  
  
        <div class="catalog-item">
          <h2 class="pr">Preiniciador Cerdos Fase 3</h2><br><br>
          <img src="assets/PREINICIO-FASE-3.jpg" alt="" class="fase1">
          <h3 class="pr2">Análisis Garantizado</h3>
          <p>
            <img src="assets/comprobado.png" alt="" width="20px"> PROTEÍNA CRUDA (MÍN) 18.50% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> GRASA CRUDA (MÍN) 3.50% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> FIBRA CRUDA (MÁX) 3.00% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> CENIZAS (MÁX) 6.00% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> HUMEDAD (MÁX) 12.00% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> E.L.N 57.00% <br><br></p> 
          <h2>Indicaciones</h2>
          <p>Para uso en porcinos en la etapa de destete, proporcionando las cantidades adecuadas de proteínas, carbohidratos, grasas, aditivos, vitaminas y minerales necesarios para su etapa.</p>
            <p>Precio: $20.00</p>
            <button><a href="/pedido">Haz tu pedido</a></button>
        </div>
      </div>
    </div>
  
    <br>
    <br>
    <br>
    <br>
  
  
    <div class="tip"><br>
      <h2 class="tipo">CRECIMIENTO</h2><br>
      </div><br>
  
  
  
    <div class="catalog-container">
      <div class="catalog-item">
        <h2 class="pr">Cerdo Inicio (Harina o Pellet)</h2><br><br>
        <img class="fase1" src="assets/INICIO-CERDO-NUTEC-PELLET.jpg" alt="">
        <h3 class="pr2">Análisis Garantizado <br></h3>
          <p><img src="assets/comprobado.png" alt="" width="20px"> PROTEÍNA CRUDA (MÍN) 18.00% <br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> GRASA CRUDA (MÍN) 5.00% <br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> GFIBRA CRUDA (MÁX) 4.00% <br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> GCENIZAS (MÁX) 4.00% <br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> GHUMEDAD (MÁX) 12.00% <br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> L.N 55.50% <br><br></p>
          <h2>Indicaciones</h2>
          <p>Alimento balanceado de alta calidad, científicamente formulado para cerdos en su etapa de iniciación (de 16 a 30 Kg de peso vivo), proporcionando adecuadas cantidades de proteína, carbohidratos, grasas, aditivos, vitaminas y minerales necesarios para su etapa.</p>
        <p>Precio: $10.00</p>
        <button><a href="/pedido">Haz tu pedido</a></button>
      </div>
  
  
  
      <div class="catalog-item">
        <h2 class="pr">Cerdo Crecimiento (Harina o Pellet)</h2><br><br>
        <img src="assets/CRECIMIENTO-CERDOS-NUTEC.jpg" alt="" class="fase1">
        <h3 class="pr2">Análisis Garantizado</h3>
        <p>
          <img src="assets/comprobado.png" alt="" width="20px"> PROTEÍNA CRUDA (MÍN) 17.50%<br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> GRASA CRUDA (MÍN) 3.50%<br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> FIBRA CRUDA (MÁX) 4.00%<br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> CENIZAS (MÁX) 6.00%<br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> HUMEDAD (MÁX) 12.00%<br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> E.L.N 57.00%<br><br></p>
          <h2>Indicaciones</h2>
          <p>Alimento balanceado de alta calidad, científicamente formulado para cerdos en su etapa de crecimiento (de 30 a 55 Kg de peso vivo), proporcionando adecuadas cantidades de proteína, carbohidratos, grasas, aditivos, vitaminas y minerales necesarios para su etapa.</p>
          <p>Precio: $15.00</p>
          <button><a href="/pedido">Haz tu pedido</a></button>
      </div>
  
  
  
      <div class="catalog-item">
        <h2 class="pr">Cerdo Desarrollo (Harina o Pellet)</h2><br><br>
        <img src="assets/PREINICIO-FASE-3.jpg" alt="" class="fase1">
        <h3 class="pr2">Análisis Garantizado</h3>
          <p>
            <img src="assets/comprobado.png" alt="" width="20px"> PROTEÍNA CRUDA (MÍN) 16.00% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> GRASA CRUDA (MÍN) 3.00% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> FIBRA CRUDA (MÁX) 4.00% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> CENIZAS (MÁX) 6.00% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> HUMEDAD (MÁX) 12.00% <br><br>
            <img src="assets/comprobado.png" alt="" width="20px"> E.L.N 59.00% <br><br>
          </p> 
          <h2>Indicaciones</h2>
          <p>Alimento balanceado de alta calidad, científicamente formulado para cerdos en la etapa de crecimiento (de 55 a 85 Kg de peso vivo), proporcionando adecuadas cantidades de proteína, carbohidratos, grasas, aditivos, vitaminas y minerales necesarios para su etapa.</p>
          <p>Precio: $20.00</p>
          <button><a href="/pedido">Haz tu pedido</a></button>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  
  
    <div class="tip"><br>
      <h2 class="tipo">ENGORDA</h2><br>
      </div><br>
  
    <div class="catalog-container">
      <div class="catalog-item">
        <h2 class="pr">Cerdo Engorda (Harina o Pellet)</h2><br><br>
        <img class="fase1" src="assets/ENGORDA-CERDOS-NUTEC.jpg" alt="">
        <h3 class="pr2">Análisis Garantizado <br></h3>
          <p><img src="assets/comprobado.png" alt="" width="20px"> PROTEÍNA CRUDA (MÍN) 15.50% <br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> GRASA CRUDA (MÍN) 4.00% <br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> GFIBRA CRUDA (MÁX) 4.00% <br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> GCENIZAS (MÁX) 6.00% <br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> GHUMEDAD (MÁX) 12.00% <br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> L.N 58.50% <br><br></p>
          <h2>Indicaciones</h2>
          <p>Alimento balanceado de alta calidad, científicamente formulado para cerdos en la etapa de engorda (de 85 a 120 Kg de peso vivo o al sacrificio), proporcionando adecuadas cantidades de proteína, carbohidratos, grasas, aditivos, vitaminas y minerales necesarios para su etapa.</p>
          <p>Precio: $10.00</p>
          <button><a href="/pedido">Haz tu pedido</a></button>
      </div>
  
  
  
      <div class="catalog-item">
        <h2 class="pr">Cerdo Engorda Especial (Harina o Pellet)</h2><br><br>
        <img src="assets/ENGORDA-ESPECIAL-TROW.jpg" alt="" class="fase1">
        <h3 class="pr2">Análisis Garantizado</h3>
        <p>
          <img src="assets/comprobado.png" alt="" width="20px"> PROTEÍNA CRUDA (MÍN) 17.00%<br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> GRASA CRUDA (MÍN) 4.00%<br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> FIBRA CRUDA (MÁX) 4.00%<br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> CENIZAS (MÁX) 6.00%<br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> HUMEDAD (MÁX) 12.00%<br><br>
          <img src="assets/comprobado.png" alt="" width="20px"> E.L.N 57.00%<br><br></p>
          <h2>Indicaciones</h2>
          <p>Alimento balanceado adicionado con ractopamina 5 g/t para mejorar la conversión alimenticia y calidad de la canal en el cerdo durante la etapa de finalización (de 85 a 120 Kg de peso vivo o al sacrificio), proporcionando adecuadas cantidades de proteína, carbohidratos, grasas, aditivos, vitaminas y minerales necesarios para su etapa.
          </p>
          <p>Precio: $15.00</p>
          <button><a href="/pedido">Haz tu pedido</a></button>
      </div>
  
  
  
  
    </div>
  
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<app-footer></app-footer>
<app-footer2></app-footer2>