.footer-info {
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-info a{
  color: black;
  text-decoration: none;
}

.footer-info a:hover{
  color: #004D80;
  text-decoration: underline;
  transition: all 0.2s;
}