<app-nav2></app-nav2>
<app-nav></app-nav>
<div class="main-container">
  <div class="img-cerdo">
    <img src="assets/cerdo.png" alt="Cerdo">
    <h2>MPG Alimentos</h2>
  </div>

  <div class="center-left">
    <h1>Filosofía</h1>
  </div>

  <div class="flex-container">
    <div class="container">
      <p>Al formar parte del sector primario, MPG conoce de antemano los grandes retos que enfrentan los productores pecuarios y agrícolas en el día a día, por lo cual siempre tenemos la firme convicción de entregar a nuestros clientes un producto que coadyuve en la eficiencia y productividad de su ganado y de sus aves. Asimismo, trabajamos hombro a hombro con los agricultores y proveedores para garantizar la excelencia en las materias primas y en todos los insumos utilizados en la elaboración de
        <b>¡El Mejor Alimento Balanceado!</b></p>
        <a href="/conocenos" class="btn-conocenos">Saber más</a>
    </div>

    <div class="video-container">
      <iframe width="560" 
      height="315" 
      src="https://www.youtube.com/embed/pl91I17ZGmY" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

<div class="cualidades">
  <div class="cualidades-titulo">
    <h1>Cualidades de MPG</h1>
  </div>

  <div class="columnas">
    <div class="costo">
      <div class="icon-costo">
        <img src="assets/costo.png" alt="costo">
      </div>
  
      <p class="titulo"><b>Costo/Beneficio</b></p>
      <p class="descripcion">Precio y calidad que te harán ser más competitivo <br>
      al potenciar el desempeño de tus animales.</p>
    </div>
  
    <div class="calidad">
      <div class="icon-calidad">
        <img src="assets/calidad.png" alt="calidad">
      </div>
  
      <p class="titulo"><b>Calidad</b></p>
      <p class="descripcion">Alimentos elaborados con higiene e inocuidad, y <br>
        formulados para obtener un óptimo balance <br> 
        nutricional.</p>
    </div>
  
    <div class="procesos">
      <div class="icon-procesos">
        <img src="assets/proceso.png" alt="procesos">
      </div>
  
      <p class="titulo"><b>Procesos</b></p>
      <p class="descripcion">Siempre buscamos contar con la tecnología más <br> 
        innovadora y con procesos vanguardistas.</p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="politica-calidad">
  <div class="img-politica">
    <img src="assets/POLITICA-CALIDAD-scaled.jpg" alt="Política de Calidad">
  </div>

  <div class="politica-calidad-container">
    <div class="header-content">
      <img src="assets/vaca.png" alt="Vaca">
      <h2>MPG Alimentos</h2>
    </div>
    <h1>Política de Calidad</h1>
    <p>
      En MPG estamos comprometidos con la recepción, 
      transformación y fabricación de productos de 
      forma segura y eficaz partiendo de una 
      filosofía de mejora continua en todos los 
      procesos, con el propósito de lograr la plena 
      satisfacción de nuestros clientes e incrementar 
      el valor agregado de nuestros alimentos terminados. 
    </p>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
<app-footer2></app-footer2>